In [1]:
import json
import pandas as pd
from collections import Counter
from names_dataset import NameDataset

In [2]:
nd = NameDataset()

In [3]:
with open('./data/pytopia-chat-export.json') as f:
    data = json.load(f)

In [4]:
Names = []
names_set = set()
for msg in data['messages']:
    if not msg.get('from'):
        continue
        
    if msg['from_id'] in names_set:
        continue
        
    names_set.add(msg['from_id'])
    Names.append(msg['from'])

In [5]:
first_name = [n.split()[0].lower() for n in Names]

In [6]:
filter_names = list(filter(lambda fn: len(fn) > 2, first_name))

In [7]:
# Counter(filter_names).most_common()

# Add Names to DataFrame

In [8]:
df = pd.DataFrame({
    'First Name': filter_names
})

In [9]:
df

      First Name
0           a.20
1         sobhan
2           good
3           sima
4       hwsyn.si
...          ...
1379        mary
1380       saeid
1381     ᴀᴍɪʀᴀʟɪ
1382         ali
1383  aristocles

[1384 rows x 1 columns]

# Predict Gender

In [10]:
def get_gender(f_n):
    info = nd.search(f_n)['first_name']

    if info is None:
        return None
    
    return max(info['gender'], key=info['gender'].get)

In [11]:
df['Gender'] = df['First Name'].apply(get_gender)

In [12]:
df

      First Name  Gender
0           a.20    None
1         sobhan    Male
2           good    Male
3           sima  Female
4       hwsyn.si    None
...          ...     ...
1379        mary  Female
1380       saeid    Male
1381     ᴀᴍɪʀᴀʟɪ    None
1382         ali    Male
1383  aristocles    None

[1384 rows x 2 columns]

In [14]:
df['Gender'].value_counts()

Male      651
Female    476
Name: Gender, dtype: int64

In [15]:
df['Gender'].isna().sum()

257